<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Angular CRUD</title>

</head>

<body ng-app="mainApp" ng-controller="myController">
    <div class="container">
        <hr>
        <h1>All Users </h1>
        <hr>
        <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Add New User</button>
        <span class="clearfix"></span>
        <hr>
        <div class="alert alert-info" ng-if="message">
            <a href="#" class="close" aria-label="close" ng-click="clearMessage()">&times;</a> {{message}}
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.userName}}</td>
                    <td>{{user.fullName}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalEdit" ng-click="selectUser(user)">Edit</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDel" ng-click="selectUser(user)">Delete</button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>Add new User</h1>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-sm-2">User_Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="newUser.userName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Full_Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="newUser.fullName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Email:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="newUser.email">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-info" ng-click="reset()" data-dismiss="modal">Submit</button> </div>
                            </div>
                        </form>
                        <!--  <pre>user = {{newUser | json}}</pre> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- <button ng-click="reset()">Reset</button>-->
        <div id="myModalEdit" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h1>Edit User</h1>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-sm-2">User_Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="clickedUser.userName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Full_Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="clickedUser.fullName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Email:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="clickedUser.email">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-info" data-dismiss="modal" ng-click="updateUser()">Submit</button> </div>
                            </div>
                        </form>
                        <!--  <pre>user = {{newUser | json}}</pre> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="myModalDel" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h1>Are You Sure?</h1>
                    </div>
                    <div class="modal-body">
                        <strong style="color: red " ;>
                        You are going to delete {{clickedUser.userName}}!!!!
                    </strong>
                        <!--  <pre>user = {{newUser | json}}</pre> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button " class="btn btn-danger " data-dismiss="modal" ng-click="deleteUser()">Yes</button>
                        <button type="button " class="btn btn-info " data-dismiss="modal">No</button>
                    </div>
                </div>

            </div>
        </div>


    </div>


</body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js">
</script>
<script src="mainApp.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>